@{
	ViewData["Title"] = "Send SMS Page";
}
<h1>@ViewData["Title"]</h1>

@Html.ValidationSummary(true)

@model InputsSMS
<form id="sendSMS" name="sendSMSForm" method="GET" onsubmit="process(event)">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Send SMS Form</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="PhoneNumber" style="width: 100%"></label>
			<input asp-for="PhoneNumber" class="form-control" id="PhoneNumberInput" /> @*with JS will be type="hidden"*@
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			<div class="text-danger">@Html.ValidationMessage("NumberParseException")</div>

			<input class="form-control" style="display: none;" id="JSInput" /> @*in JSInput will be Phone Number before converting*@
			<input asp-for="JSInput" class="form-control" id="JSInputCopy" type="hidden" /> @*for filling JSInput after failed validation*@
			<input asp-for="JSInputCounteryCode" class="form-control" id="JSInputCounteryCodeCopy" type="hidden" /> @*for filling JSInput after failed validation*@
			<div class="text-success valid-msg" style="display: none;"></div>
			<div class="text-danger error-msg" style="display: none;"></div>
		</div>
		<div class="mb-3">
			<label asp-for="SMSText"></label>
			<input asp-for="SMSText" class="form-control" />
			<span asp-validation-for="SMSText" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Send SMS</button>
	</div>
</form>
<h3>
	<div class="text-success valid-msg" style="width: 100%">@TempData["success"]</div>
</h3>

@section scripts{
<script>
	function setViewForJS() {
		const JSInput = document.querySelector("#JSInput");
		const PhoneNumberInput = document.querySelector("#PhoneNumberInput");

		JSInput.style.display = "";
		//PhoneNumberInput.type = "hidden";
		document.getElementById("JSInput").value = document.getElementById("JSInputCopy").value;
	}

	setViewForJS();

	let country = "cz";
	if (document.getElementById("JSInputCounteryCodeCopy").value != "") {
		country = document.getElementById("JSInputCounteryCodeCopy").value;
	}
	const iti = phoneInput("JSInput", "valid-msg", "error-msg", country);

	function process(event) {
		event.preventDefault();
		if (iti.isValidNumber()) {
			const phoneNumber = iti.getNumber();
			document.getElementById("PhoneNumberInput").value = phoneNumber;
			document.getElementById("JSInputCopy").value = document.getElementById("JSInput").value;
			document.getElementById("JSInputCounteryCodeCopy").value = iti.getSelectedCountryData().iso2;
			document.sendSMSForm.submit();
		}
	}
</script>
}